<a href="https://colab.research.google.com/github/hanbeen1992/python/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EA%B8%B0%EB%B3%B8_%EB%AC%B8%EB%B2%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Hello World

In [ ]:
print("hello, World")

hello, World

# 주석처리

In [ ]:
# 한줄 주석처리
"""
여러 줄 주석 예제 동일한 따옴표(큰 따옴표 혹은 작은 따옴 표) 세 개와 세개 사이는 어떤 내용이 들어가도 주석처리가 된다.
"""
print("Hello")

Hello

# 변수의 종류

In [ ]:
num_int = 1
print(type(num_int))

<class 'int'>

In [ ]:
num_float = 0.2
print(type(num_float))

<class 'float'>

In [ ]:
bool_true = True
print(type(bool_true))

<class 'bool'>

In [ ]:
none_x = None
print(type(none_x))

<class 'NoneType'>

# 논리형 & 비교 연산자 응용

In [ ]:
num1 = int(input("첫번째 번호 입력"))
num2 = int(input("두번째 번호 입력"))

var1 = num1 >= num2
print(var1)

첫번째 번호 입력2
두번째 번호 입력2
True

# String Operators

In [ ]:
str1 = "hello "
str2 = "world "
print("str1 + str2 = ", str1 + str2)

str1 + str2 =  hello world

In [ ]:
greet = str1 + str2
print('greet * 5 = ', greet *5)

greet * 5 =  hello world hello world hello world hello world hello world

# Indexing

In [ ]:
greeting = "hello Kaggle"
print(greeting[:]) # 전체
print(greeting[0]) # 0값을 가져옴
print(greeting[6:]) # 6부터 끝까지
print(greeting[:6]) # 0부터 6까지
print(greeting[3:8]) # 3부터 8까지 가져옴
print(greeting[0:9:2]) #0부터 9까지 가져오면서 2칸씩 띄우고 가져옴

hello Kaggle
h
Kaggle
hello
lo Ka
hloKg

# 리스트

In [ ]:
a = [] # 빈리스트
a_func = list() #list() 함수로도 빈 리스트를 만들 수 있다.
b = [1] # 숫자도 요소가 될 수 있다.
c = ['apple'] # 문자열도 요소가 될 수 있다.
d = [1,2,['apple']] #리스트 안에 리스트를 요소로 넣을 수있다.
print(a)
print(b)
print(c)
print(d)

[]
[1]
['apple']
[1, 2, ['apple']]

In [ ]:
 a = [1, 2, 3]
 # index [0,1,2]
 print(a[0]) #첫번째 요소
 print(a[1]) # 두번째 요소
 print(a[2]) # 세번째 요소
 print(a[-1])

1
2
3
3

In [ ]:
a = [['apple','banana','cherry']]

print(a[0])
print(a[0][0]) # 0의 0 인덱스 값
print(a[0][0][3]) # 리스트 내의 리스트의 첫번째 문자열 'apple' 중 세번째 인덱스
print(a[0][2])

['apple', 'banana', 'cherry']
apple
l
cherry

In [ ]:
a = [1,2,3,4,5,6,7,8,9,10]
b = a[:4] # 인덱스 0부터 3까지
c = a[1:4] #인덱스 1부터 3까지
d = a[0:7:2] #인덱스 0부터 6까지 인덱스 2칸 건너 띄우기
f = a[::2] #리스트 전체구간에서 인덱스 2씩 건너띄우기
print("a[:4] : ",b)
print("a[1:4] : ",c)
print("a[0:7:2] : " , d)
print("a[::2] : ", f)

a[:4] :  [1, 2, 3, 4]
a[1:4] :  [2, 3, 4]
a[0:7:2] :  [1, 3, 5, 7]
a[::2] :  [1, 3, 5, 7, 9]

In [ ]:
a = ['alice','bob','cat']
b = ['apple','banana','cherry']
c = a+b

print(c)

['alice', 'bob', 'cat', 'apple', 'banana', 'cherry']

# 리스트 값 수정하기

In [ ]:
a = [0,1,2]
a[1] = "b" # 인덱스 1열 수정

print(a)

[0, 'b', 2]

# 리스트 값 추가하기

In [ ]:
a = [100,200,300]
a.append(400)
print(a)

a.append([500,600])
print(a)

[100, 200, 300, 400]
[100, 200, 300, 400, [500, 600]]

In [ ]:
a = [1,2,3]
a.extend([40,500])
print('a.extend([40,500])result')
print(a)

a.extend([40,500])result
[1, 2, 3, 40, 500]

In [ ]:
a = [0,1,2,3]
a[2:2] = [100,200]
print(a)

# 시작과 끝의 범위 보다 큰 수를 덮어쓰는 예시
b = [0,1,2,3]
b[1:2] = [100,200,300,400]# 1행에서 1행까지 덮어쓰기
print(b)

# 시작과 끝의 범위가 작을때의 예시
c = [0,1,2,3]
c[1:3] = [100] #1행에서 2행까지 덮어쓰기
print(c)

[0, 1, 100, 200, 2, 3]
[0, 100, 200, 300, 400, 2, 3]
[0, 100, 3]

# 리스트 값 삭제하기

In [ ]:
a = [1,2,1,2]

#리스트의 첫번째 1이 삭제
a.remove(1)
print(a)

[2, 1, 2]
[2, 2]

In [ ]:
a = [0,1,2,3,4,5,6,7,8,9]

# 1 삭제
del a[1]
print(a)

b = [0,1,2,3,4,5,6,7,8,9]
# 범위로 삭제
del b[1:3] #list는 항상 시작하는 인덱스부터 종료하는 n의 n-1까지의 범위를 잡아줍니다.
print(b)

[0, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#인덱스를 지정한 pop()
a = [0,1,2,3,4]
r = a.pop(1)

print(a)
print(r)

[0, 2, 3, 4]
1

In [ ]:
# 인덱스를 지정하지 않은 pop()
b = ['a','b','c','d']
x = b.pop()

print(b)
print(x)

['a', 'b', 'c']
d

# 그 외 유용한 메서드

In [ ]:
a = [0,1,2,3]
print(a)

a.clear()
print(a)

[0, 1, 2, 3]
[]

In [ ]:
a = ["gold","gold","silver","silver"]
print("sliver가 처음 등장하는 인덱스 번호 : " ,a.index("silver"))

sliver가 처음 등장하는 인덱스 번호 2

In [ ]:
a = [1,4,5,2,3]
b = [1,4,5,2,3]

a.sort()
print("sort() : " ,a) #오름차순

b.sort(reverse=True)
print("sort(reverse=True):",b) #내림차순

sort() :  [1, 2, 3, 4, 5]
sort(reverse=True): [5, 4, 3, 2, 1]

# 튜플

In [ ]:
tuple1 =(0) #끝에 콤마(,)를 붙이지 않았을 때
tuple2 = (0,) #끝에 콤마(,)를 붙여줬을 때
tuple3 = 0,1,2

print(tuple1)
print(tuple2)
print(tuple3)

print(type(tuple1)) #콤마(,)를 붙여주지 않으면 튜플이 아닙니다.
print(type(tuple2)) #콤마(,)를 붙여주어야 튜플 자료형입니다.
print(type(tuple3)) #여러개의 값 일 경우 괄호를 없애주어도 튜플 자료형입니다.

0
(0,)
(0, 1, 2)
<class 'int'>
<class 'tuple'>
<class 'tuple'>

# 더하기 및 곱셈 연산자 사용

In [ ]:
t1 = (0,1,2,3,4)
t2 = ('a','b','c')
t3 = t1 +t2
print(t1+t2)
print(t3)

(0, 1, 2, 3, 4, 'a', 'b', 'c')
(0, 1, 2, 3, 4, 'a', 'b', 'c')

In [ ]:
t1 = ('a','b')
print(t1 *0)
print(t1 *3)

()
('a', 'b', 'a', 'b', 'a', 'b')

# 딕셔너리

In [ ]:
dic = {'teacher' : "alice",'class':5,'student' : 15,'list' : [1,2,3]}
print(dic['teacher'])
print(dic['class'])
print(dic['list'])

alice
5
[1, 2, 3]

In [ ]:
a = {'name' : 'bob' , 'job' : 'farmer', 'age' : 35}
a.keys() #키워드를 찾아주는 메서드

dict_keys(['name', 'job', 'age'])

In [ ]:
a = {'name' : 'bob' , 'job' : 'farmer', 'age' : 35}
a.values() #키워드의 정보를 찾아주는 메서드

dict_values(['bob', 'farmer', 35])

In [ ]:
a = {'name' : 'cheis', 'job' : 'painter' , 'age' : 30}
print(a.get('name'))
print(a.get('dinner'))
print(a.get('dinner', 'empty'))

cheis
None
empty

# if조건문

In [ ]:
a = -5

if a > 5 : 
  print('a ids bigger than 5')

elif a > 0 :
  print("a is bigger than 0 but a is smaller than 5")

else : 
  print("a is negative")

a is negative

# 반복문

In [ ]:
for i in range(5) :  # 5번 반복
  print("hello World")

hello World
hello World
hello World
hello World
hello World

In [ ]:
a = "Kaggle"

for x in a : # a의 열을 하나씩 반복
  print(x)

  if x == 'g' :  #g 나오면 브레이크
    break

K
a
g